<%- include('../partials/navbar.ejs') %>
<script src="./js/admin.js"></script>
<div class="wrapper-container">
    <div class="sidebar">
      <!-- Include the sidebar -->
      <%- include('../partials/sidebar.ejs') %>
    </div>
    <div class="main-content">
      <!-- Main content goes here -->
      <main>
        <div class="container">
          <!-- Add your main content here -->
         
       
<div class="table-responsive py-3 m-3"> 
<table class="table table-bordered table-hover">
    <thead class="thead-dark bg-info">
      <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col">Content</th>
        <th scope="col">Created At</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      <% comments.forEach((comment, index) => { %>
        <tr>
          <th scope="row"><%= (pageNumber - 1) * pageSize + index + 1 %></th>
          <td><%= comment.user.name %></td>
          <td><%= comment.comment%></td>
          <td><%= comment.createdAt %></td>
          <td>
            <% if (comment.isBlocked) { %>
              <button type="button" class="btn btn-success" onclick="unlockComment('<%= comment._id %>')">UnBlock</button>
            <% } else { %>
              <button type="button" class="btn btn-danger" onclick="lockComment('<%= comment._id %>')">Block</button>
            <% } %>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <ul class="pagination">
      <% if (pageNumber > 1) { %>
        <li class="page-item">
          <a class="page-link" href="/adminComments?postId=<%= postId %>&page=<%= pageNumber - 1 %>">Previous</a>
        </li>
      <% } %>
  
      <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <%= i === pageNumber ? 'active' : '' %>">
          <a class="page-link" href="/adminComments?postId=<%= postId %>&page=<%= i %>"><%= i %></a>
        </li>
      <% } %>
  
      <% if (pageNumber < totalPages) { %>
        <li class="page-item">
          <a class="page-link" href="/adminComments?postId=<%= postId %>&page=<%= pageNumber + 1 %>">Next</a>
        </li>
      <% } %>
    </ul>
  </div>
</div>
</main>
</div>
</div>
<%- include('../partials/footer.ejs') %>
