<%- include('partials/navbar.ejs') %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUHZoJXyaMM-1c4c5GpfC2YCtzSdjJLU8&libraries=places"></script>
<script src="./js/fcm.js"></script>
<script src="./js/events.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<!-- Events post -->
<div class="container bootstrap snippets bootdey mt-3">
  <div id="toastContainerParent" style="position: relative;">
    <div aria-live="polite" aria-atomic="true" style="position: absolute; top: 0; right: 0; z-index: 9999;">
      <div id="toastContainer" class="toast-container"></div>
    </div>
  </div>

  
  <% if (typeof message !== 'undefined') { %>
    <div class="alert alert-success">
      <%= message %>
    </div>
  <% } %>
  <% if (typeof error !== 'undefined') { %>
    <div class="alert alert-danger">
      <%= error %>
    </div>
  <% } %>
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-8">
      <div class="well well-sm event_post">
        <button
          aria-live="off"
          type="button"
          id="main_content"
          s
          class="post-btn post-btn-custom"
          data-bs-toggle="modal"
          data-bs-target="#postMaodal"
        >
          <span class="post-span"
            ><div class="avatar">
              <img
                class="avatar-image avatar-image-redesign user-avatar-redesign resized-image"
                alt=""
                height="76"
                width="76"
                data-pin-nopin="true"
                src="images/avatar.png"
                style="height: 40px; width: 40px"
              /></div
          ></span>
          <div class="post-text post-text-padding">
            <div class="post-div2 post-div1 post-div">
              <span class="_375H1e8H">What's on your mind, neighbour?</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>

<div id="loading-screen" class="d-flex justify-content-center mt-4">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <p class="ms-2">Loading Posts...</p>

</div>

<!-- Events display -->
<div class="container mt-3 mb-5">
  <div class="row d-flex align-items-center justify-content-center">
    <div  id="postContainer" class="col-md-8">
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade modal-xl"
  id="postMaodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="postMaodal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body px-5">
        <form action="/savePost" method="POST" enctype="multipart/form-data">
          <div class="form-outline">
            <input type="text" id="latitude" name="latitude" readonly hidden />
            <input
              type="text"
              id="longitude"
              name="longitude"
              readonly
              hidden
            />
            <input
              type="text"
              id="postType"
              value="Incident"
              name="postType"
              readonly
              hidden
            />
            <input
            type="text"
            id="title"
            value=""
            name="title"
            hidden
          />


            <input
              type="text"
              name="postDescription"
              id="post"
              class="form-control my-3 form-rounded form-control-lg h-75"
              placeholder="What's on your mind, neighbour?"
            />
        
            <div class="image-preview-container">
              <!-- Close icon -->
              <i class="bi bi-x close-icon" id="closeIcon"></i>              <!-- Image preview element -->
              <img id="imagePreview" src="#" alt="Image Preview" class="img-thumbnail" style="display: none;margin: auto;" height="300" width = "300">
            </div>
            <input type="file" name="image" id="imageInput" accept="image/*" style="display: none;">
            <label for="imageInput" class="mb-2" id="imageInputLabel">
              <i class="bi bi-image text-primary">Add photo or video
              </i>
            </label>
            <div class="text-left mb-3" style="text-align: left">
              <a
                class="icon-link text-decoration-none text-success"
                href="#"
                id="openMapButton"
                onclick="openMap()"
                data-bs-toggle="modal"
                data-bs-target="#mapModal"
              >
                <div class="d-flex align-items-center">
                  <i class="bi bi-geo-alt .text-success"></i>
                </div>
                Add a location
              </a>
            </div>

            <div style="text-align: left" class="mt-4">
              <a
                class="icon-link text-decoration-none fw-bold text-primary"
                href="#"
              >
                <div class="d-flex align-items-center mt-2">
                  <i class="bi bi-image text-primary mb-2"></i>
                </div>
                Add photo or video
              </a>
              <br />
              <a
                class="icon-link text-decoration-none fw-bold text-info"
                href="#"
              >
                <div class="d-flex align-items-center mt-2">
                  <i class="bi bi-calendar-event text-info mb-2"></i>
                </div>
                Create an Event
              </a>
              <br />
              <a
                class="icon-link text-decoration-none fw-bold text-warning d-flex align-items-center"
                href="#"
              >
                <div class="d-flex align-items-center mt-2">
                  <i class="bi bi-image bg text-warning mb-2"></i>
                </div>
                Saftey Event
              </a>
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-custom text-white rounded"
            style="float: right"
          >
            <i class="bi bi-plus-lg text-white fw-bold"></i> Post
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade modal-xl"
  id="mapModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mapModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body px-5">
        <div id="map"></div>
        <button
          type="submit"
          class="btn btn-custom text-white rounded"
          style="float: right"
          onclick="mapMadalClicked()"
        >
          <i class="bi bi-plus-lg text-white fw-bold"></i> Okay
        </button>
      </div>
    </div>
  </div>
</div>

<script src="./js/maps-service.js"></script>
<% function timeSince(date) { %>
  <% const seconds = Math.floor((new Date() - new Date(date)) / 1000); %>
  <% let interval = Math.floor(seconds / 31536000); %>

  <% if (interval > 1) { %>
    <%= interval %> years
  <% } else { %>
    <% interval = Math.floor(seconds / 2592000); %>
    <% if (interval > 1) { %>
      <%= interval %> months
    <% } else { %>
      <% interval = Math.floor(seconds / 86400); %>
      <% if (interval > 1) { %>
        <%= interval %> days
      <% } else { %>
        <% interval = Math.floor(seconds / 3600); %>
        <% if (interval > 1) { %>
          <%= interval %> hours
        <% } else { %>
          <% interval = Math.floor(seconds / 60); %>
          <% if (interval > 1) { %>
            <%= interval %> minutes
          <% } else { %>
            <%= Math.floor(seconds) %> seconds
          <% } %>
        <% } %>
      <% } %>
    <% } %>
  <% } %>
<% } %>
<%- include('partials/footer.ejs') %>
