<%- include('partials/navbar.ejs') %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUHZoJXyaMM-1c4c5GpfC2YCtzSdjJLU8&libraries=places"></script>
<script src="./js/fcm.js"></script>
<script src="./js/events.js"></script>
<script src="./js/notification.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<!-- Events post -->
<div class="container bootstrap snippets bootdey mt-3">
  <div id="toastContainerParent" style="position: relative;">
    <div aria-live="polite" aria-atomic="true" style="position: absolute; top: 0; right: 0; z-index: 9999;">
      <div id="toastContainer" class="toast-container"></div>
    </div>
  </div>

  
  <% if (typeof message !== 'undefined') { %>
    <div class="alert alert-success">
      <%= message %>
    </div>
  <% } %>
  <% if (typeof error !== 'undefined') { %>
    <div class="alert alert-danger">
      <%= error %>
    </div>
  <% } %>
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-8">
      <div class="well well-sm event_post">
        <button
          aria-live="off"
          type="button"
          id="main_content"
          s
          class="post-btn post-btn-custom"
          data-bs-toggle="modal"
          data-bs-target="#postMaodal"
        >
          <span class="post-span"
            ><div class="avatar">
              <img
                class="avatar-image avatar-image-redesign user-avatar-redesign resized-image"
                alt=""
                height="76"
                width="76"
                data-pin-nopin="true"
                src="<%= imageUrl ? 'https://api-nearbunexus.onrender.com/post/images/' + imageUrl : 'images/avatar.png' %>"
                style="height: 40px; width: 40px"
              /></div
          ></span>
          <div class="post-text post-text-padding">
            <div class="post-div2 post-div1 post-div">
              <span class="_375H1e8H">What's on your mind, neighbour?</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>

<div id="loading-screen" class="d-flex justify-content-center mt-4">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <p class="ms-2">Loading Posts...</p>

</div>

<!-- Events display -->
<div class="container mt-3 mb-5">
  <div class="row d-flex align-items-center justify-content-center">
    <div  id="postContainer" class="col-md-8">
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade modal-lg"
  id="postMaodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="postMaodal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body px-5">
        <div class="row">
          <div class="col-sm-8 col-md-8">
        <form id="postForm" action="/savePost" method="POST" enctype="multipart/form-data">
          <div class="form-outline">
            <label for="latitude" class="visually-hidden">latitude</label>
            <input type="text" id="latitude" name="latitude" readonly hidden />
            <label for="longitude" class="visually-hidden">longitude</label>
            <input
              type="text"
              id="longitude"
              name="longitude"
              readonly
              hidden
            />
            <label for="postType" class="visually-hidden">postType</label>
            <input
              type="text"
              id="postType"
              value="Incident"
              name="postType"
              readonly
              hidden
            />
            <label for="title" class="visually-hidden">title</label>
            <input
            type="text"
            id="title"
            value=""
            name="title"
            hidden
          />
          <label for="postLocation" class="visually-hidden">postLocation</label>
          <input type="text" id="postLocation" name="locationName" class="form-control  event-form" readonly hidden>

          <label for="postDescription" class="visually-hidden">postDescription</label>
          <input
          type="text"
          name="postDescription"
          id="postDescription"
          class="form-control my-3 form-rounded form-control-lg h-75 post-desc"
          placeholder="What's on your mind, neighbour?"
        
      />
      <div class="invalid-feedback" id="postDescriptionError">
          Please enter a valid post description.
      </div>
        
            <div class="image-preview-container">
              
              <i class="bi bi-x close-icon" id="closeIcon"></i>              <!-- Image preview element -->
              <img id="imagePreview" src="#" alt="Image Preview" class="img-thumbnail" style="display: none;margin: auto;" height="300" width = "300">
            </div>
           
            <div class="text-left mb-3 mr-2" style="text-align: left; cursor: pointer;">
              <input type="file" name="image" id="imageInput" accept="image/*" style="display: none;">
              <label for="imageInput" class="mb-2 m-2" id="imageInputLabel">
                <i class="bi bi-image text-primary">Add photo
                </i>
              </label>
              <a
                class="icon-link text-decoration-none text-success"
                href="#"
                id="openMapButton"
                data-modal-source="postModal" onclick="openMap('postModal')"
                data-bs-toggle="modal"
                data-bs-target="#mapModal"
              >
                <div class="d-flex align-items-center">
                  <i class="bi bi-geo-alt .text-success"></i>
                </div>
                Add a location
              </a>
            </div>
          </div>
          <button
          type="submit"
          class="btn btn-custom text-white rounded "
          
        >
          <i class="bi bi-plus-lg text-white fw-bold"></i> Post
        </button>
      </form>
        </div>
          <div class="col-sm-4 col-md-4">
            <div style="text-align: left" class="mt-4 nb-2">
              <a
                class="option-icon-link text-decoration-none fw-bold text-success"
                href="#"
                id="openEventFormButton"
                data-bs-toggle="modal"
                data-bs-target="#eventFormModal"
                role="button"
                tabindex="0"
                aria-label="Create an Event"
              >
                <div class="d-flex align-items-center mt-2 option-button">
                  <div class="option-icon">
                    <i class="bi bi-calendar-event text-success mb-2"></i>
                  </div>  
                 
                  <div class="option-link">
                    <span>Create an Event</span>
                  </div>
             
              </a>
            </div>
             
              <a
              class="option-icon-link text-decoration-none fw-bold text-success"
              href="#"
              role="button"
              tabindex="0"
              onclick="focusOnPostDescription()"
              aria-label="Post an Incident"
              >
              <div class="d-flex align-items-center mt-2 option-button">
                <div class="option-icon">
                  <i class="bi bi-file-earmark-post text-success mb-2"></i>
                </div>  
               
                <div class="option-link">
                  <span>Post a Incident</span>
                </div>
              </a>
            </div>
          </div>

     
      </div>
    </div>
    </div>
    </div>
  </div>
</div>

<div
  class="modal fade modal-xl"
  id="mapModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mapModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body px-5 map-mobile">
        <div id="map"></div>
        <button
          type="submit"
          class="btn btn-custom text-white rounded"
          style="float: right"
          onclick="mapMadalClicked()"
        >
          <i class="bi bi-plus-lg text-white fw-bold"></i> Okay
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="eventFormModal" tabindex="-1" role="dialog" aria-labelledby="eventFormModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventFormModalLabel">Create an Event</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-5">
        <form id="eventForm" action="/savePost" method="POST" enctype="multipart/form-data">
          <!-- Event Title -->
          <label for="eventlatitude" class="visually-hidden">latitude</label>
          <input type="text" id="eventlatitude" name="latitude" readonly hidden />
          <label for="eventlongitude" class="visually-hidden">latitude</label>
          <input type="text" id="eventlongitude" name="longitude" readonly hidden />
          <label for="eventPostType" class="visually-hidden">postType</label>
          <input type="text" id="eventPostType" value="Event" name="postType" readonly hidden />
      
          <!-- Event Title Image -->
          <div class="mb-3">
            <span class="form-label">Event Title Image:</span>
            <div class="event-image-preview-container">
              <img id="event-imagePreview" src="./images/event-bg.png" alt="Image Preview" class="event-img-thumbnail" height="300" width="300">
              <input type="file" id="eventTitleImage" name="image" accept="image/*" class="form-control-file d-none">
              <label for="eventTitleImage" class="choose-file-btn">
                <i class="bi bi-image text-primary"></i> Choose Image
              </label>
            </div>
          </div>

          <div class="mb-3">
            <label for="eventTitle" class="form-label">Event Title:</label>
            <input type="text" id="eventTitle" name="title" class="form-control event-form" required>
          </div>

          <!-- Event Start Date -->
          <div class="mb-3">
            <label for="eventStartDate" class="form-label">Event Start Date:</label>
            <input type="datetime-local" id="eventStartDate" name="startDate" class="form-control event-form" required>
          </div>

          <!-- Event End Date -->
          <div class="mb-3">
            <label for="eventEndDate" class="form-label">Event End Date:</label>
            <input type="datetime-local" id="eventEndDate" name="endDate" class="form-control event-form" required>
          </div>

          <div class="mb-3">
            <label for="eventLocation" class="form-label">Location:</label>
            <input type="text" id="eventLocation" name="locationName" class="form-control  event-form" readonly>
            <button type="button" class="btn btn-link text-decoration-none text-success " data-bs-toggle="modal" data-bs-target="#mapModal" data-modal-source="eventFormModal" onclick="openMap('eventFormModal')">
              <i class="bi bi-geo-alt .text-success"></i>Choose Location
            </button>
          </div>
  
          <!-- Post Description -->
          <div class="mb-3">
            <label for="eventPostDescription" class="form-label">Event Description:</label>
            <textarea id="eventPostDescription" name="postDescription" class="form-control event-form" rows="4"></textarea>
          </div>

          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-custom text-white rounded">
              <i class="bi bi-plus-lg text-white fw-bold"></i> Create Event
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script src="./js/maps-service.js"></script>
<script src="./js/eventValidation.js"></script>

<% function timeSince(date) { %>
  <% const seconds = Math.floor((new Date() - new Date(date)) / 1000); %>
  <% let interval = Math.floor(seconds / 31536000); %>

  <% if (interval > 1) { %>
    <%= interval %> years
  <% } else { %>
    <% interval = Math.floor(seconds / 2592000); %>
    <% if (interval > 1) { %>
      <%= interval %> months
    <% } else { %>
      <% interval = Math.floor(seconds / 86400); %>
      <% if (interval > 1) { %>
        <%= interval %> days
      <% } else { %>
        <% interval = Math.floor(seconds / 3600); %>
        <% if (interval > 1) { %>
          <%= interval %> hours
        <% } else { %>
          <% interval = Math.floor(seconds / 60); %>
          <% if (interval > 1) { %>
            <%= interval %> minutes
          <% } else { %>
            <%= Math.floor(seconds) %> seconds
          <% } %>
        <% } %>
      <% } %>
    <% } %>
  <% } %>
<% } %>
<%- include('partials/footer.ejs') %>
