<%- include('partials/navbar.ejs') %>
<form method="POST" action="/register">
  <div class="container text-center mt-5 col-lg-4">
    <h5>Create your NearByNexus Account</h5>
    <% if (typeof error !== 'undefined') { %>
      <div class="alert alert-danger text-center"><%= error %></div>
      <% } %>
  </div>
  <div class="row col-lg-12 mod-register justify-content-center mt-3">
    
    <div class="col-lg-4 mod-register-1 bg-white">
  
      <br />
      <label class="col-lg-12">Fullname</label>
      <div class="input-group col-lg-12 mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Please enter your fullname"
          name="name"
          value="<%= typeof name !== 'undefined' ? name : '' %>"
        />
      </div>

      <label class="col-lg-12">Email</label>
      <div class="input-group col-lg-12 mb-3">
        <input
          type="email"
          class="form-control"
          placeholder="Please enter your email"
          name="email"
          value="<%= typeof email !== 'undefined' ? email : '' %>"
        />
      </div>

      <label class="col-lg-12">Phone</label>
      <div class="input-group col-lg-12">
        <input
          type="text"
          class="form-control"
          placeholder="Enter your phone number"
          name="phoneNumber"
          value="<%= typeof phoneNumber !== 'undefined' ? phoneNumber : '' %>"
        />
      </div>

      <br />
    </div>
    <!-- <hr class="clearfix w-100 d-md-none pb-3"> -->
    <div class="col-lg-4 mod-register-2 bg-white">
      <br />
      <label class="col-lg-12">Birthday</label>
      <div class="input-group col-lg-12 mb-3">
        <input
          type="date"
          class="form-control"
          placeholder="Birth Date"
          name="dateOfBirth"
          value="<%= typeof dateOfBirth !== 'undefined' ? dateOfBirth : '' %>"

        />
      </div>

      <label class="col-lg-12">Password</label>
      <div class="input-group col-lg-12 mb-3">
        <input
          type="password"
          class="form-control"
          placeholder="Minimum 8 characters with number and a letter"
          name="password"
        />
      </div>

      <label class="col-lg-12">Confirm Password</label>
      <div class="input-group col-lg-12s">
        <input
          type="password"
          class="form-control"
          placeholder="Minimum 8 characters with number and a letter"
          name="confirmPassword"
        />
      </div>
    </div>
    
    <div class="col-lg-8 bg-white">
      <hr />
      <input
        type="submit"
        class="btn btn-success btn-lg col-lg-12 mb-2"
        value="Register"
        name="buyer_register"
      />
     
    </div>
  </div>
  <div class="container text-right col-lg-8 mt-2">
    <h6>Already member? <a href="/login">Login</a> here.</h6>
  </div>
  <br />
</form>
<%- include('partials/footer.ejs') %>
